<h2>Please Create a Reviewer Account</h2>
<% if flash.has?(:message) %>
 <p style="color: red;"><%= flash[:message] %> </p>
 <% end %>

<form action="/signup" method="POST">
  <input type="text" name="email" placeholder="Email Address">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign up">
</form>
