<h2>Edit Your Product Review!</h2>

<form action= "/reviews/<%=@review.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="product_name" placeholder="Product Name" value="<%=@review.product_name%>">
 <textarea rows="8" cols="200" name="content" placeholder="Write Review Here" value="<%=@review.content%>"></textarea>  
 <input type="integer" name=rating placeholder="Rating(1-10)" value=<%=@review.rating%>>
  <input type="submit" placeholder="Create Review" >

</form>
